{% extends "base.html" %}

{% block contenido %}
<h2>talller apps - Sobre Nosotros</h2>
<h4>Bienvenidos a este talller.....</h4>
<form action="/sobrenosotros" method="post">
{{ form.csrf_token() }}
{{ form.titulo.label }}
{{ form.titulo }}
{{ form.enviar }}
</form>
<hr>
<h3>Lista de Tareas</h3>
<ul>
    {% for tarea in tareas %}
        <li>
            {{ tarea.titulo }} 
            <a href="{{ url_for('editar', id=tarea.id) }}">Editar</a>
            <a href="{{ url_for('eliminar', id=tarea.id) }}" onclick="return confirm('Desea eliminar esta tarea?')">Eliminar</a>
        </li>
    {% else %}
        <li>Aún no hay tareas guardadas.</li>
    {% endfor %}
</ul>

{% endblock %}